<!-- email_history_for_customer.html -->
{% extends 'email_app/base.html'%}
{% block body %}
<h1>Email History for {{ subscriber.name }}</h1>

{% if email_history_entries %}
<ul>
    {% for entry in email_history_entries %}
        <li>
            <strong>Timestamp:</strong> {{ entry.timestamp }}<br>
            <strong>Sender:</strong> {{ entry.sender }}<br>
            <strong>Recipient:</strong> {{ entry.recipient }}<br>
            <strong>Subject:</strong> {{ entry.subject }}<br>
            <strong>Body:</strong> {{ entry.body }}<br>
        </li>
    {% endfor %}
</ul>
{% else %}

<h3> There is no History for {{ subscriber.name }}</h3>

{% endif %}
{% endblock %}
