{% extends 'email_app/base.html'%}
{% block body %}
<h1>Scheduled Email for {{ subscriber.name }}</h1>

{% if email_history_list %}
<ul>
    {% for entry in email_history_list %}
        <li>
            <strong>mail:</strong> {{ subscriber.email}}<br>
            <strong>Subject:</strong> {{ entry.subject }}<br>
            <strong>Text:</strong> {{ entry.message_text }}<br>
            <strong>NextScheduleTime:</strong> {{ entry.schedule_time}}<br>
            <strong>Gap:</strong> {{ entry.gp }}<br>
        </li>
    {% endfor %}
</ul>
{% else %}
 <h2> No Emails are Scheduled for {{ subscriber.name }} </h2>

{% endif %}

{% endblock %}
